<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<h1>RecipeMiner</h1>
<p><em>crawling the internet for recipes</em></p>
<button><%= link_to "Start Mining", start_mining_path %></button>