<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<h1>RecipeMiner</h1>
<p><em>crawling the web for recipes</em></p>
<p>We have <%= @recipe_count %> recipes, and thousands more yet to be mined.</p>
<button><%= link_to "Start Mining", start_mining_path %></button>