// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #F1F2F1;
}

.title-searchbar {
/*	margin: 0 auto;
	width: 510px;
	padding-left: 30px;
	padding-right: 30px;*/
	text-align: center;
	h1 { font-family: 'Bitter', serif; font-size: 45px; }
	a { color: #4D4D4E; text-decoration: none; }
	.searchbar input { width: 510px;}
	.submit-button input { width: 150px; margin-top: 10px; background-color: rgba(77,77,78, 0.5); border-radius: 15px; }
	#search { border-radius: 25px; height: 50px; padding: 0 20px 0 20px; }
}

.main-wrapper {
	margin: 0 auto;
	width: 510px;
	padding-left: 30px;
	padding-right: 30px;
}

/*.results-section {
	margin: 0 auto;
	width: 510px;
	padding-left: 30px;
	padding-right: 30px;
}*/

.recipe-panel {
	border-radius: 5px;
	/*border: 1px solid lightgray;*/
	padding: 5px 5px 5px 5px;
	margin-top: 50px;
	display: block;
	min-height: 155px;
	background-color: #F1F1F1;
	text-align: left;
	a {
		color: black; text-decoration: none;
		.recipe-rating, .recipe-total-time { display: inline; font-size: 12px; }
	}
}

img {
	height: 110px;
	width: 110px;
	object-fit: cover;
}

.recipe-image {
	display: inline-block;
	float: left;
}

.recipe-info {
	margin-left: 120px;
	position: relative;
	min-height: 110px;
}

.recipe-rating-and-time {
	display: block;
}

.recipe-rating-and-time img {
	width: 15px;
	height: 15px;
}

.recipe-description {
	margin-top: 5px;
	display: block;
}

.recipe-url {
	font-size: 14px;
	position: absolute;
	bottom: 0;
}

.recipe-url a {
	color: green;
}

.recipe-title {
	font: 400 30px Vollkorn, serif;
}

.header {
	padding-top: 100px;
}

.link-div {
	height: 120px;
}
